@using MAS.Models
@using MAS.Configuration
@addTagHelper *, MAS
@model Item
@inject AWSConfig awsConfig
<!DOCTYPE html>
<html lang="en-GB" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @Model.Title | Medicines Awareness Service
    </title>

    <meta name="description" content="@Model.ShortSummary" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@nhs_sps")" />
    <meta name="twitter:title" content="@Model.Title" />

    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Medicines awareness service" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@(awsConfig.StaticURL)@(Model.Slug).html" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.ShortSummary" />
    <meta property="og:image" content="@(awsConfig.StaticURL)open-graph.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Specialist Pharmacy Service logo" />

    <link rel="alternate" type="text/xml" href="@(awsConfig.StaticURL)@(Model.Slug).xml" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700"
          rel="stylesheet"
          type="text/css" />
    <link href="/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <a href="https://www.sps.nhs.uk/" target="_blank" rel="noopener" aria-label="Sepcialist Pharmacy Service website">
            <img src="/sps-logo.svg"
                 alt="Sepcialist Pharmacy Service logo"
                 class="logo" />
        </a>
    </header>
    <main>
        <article aria-labelledby="title" aria-describedby="description">
            <h1 id="title">
                <a href="@Model.Url"
                   target="_blank" rel="noopener">
                    @Model.Title
                </a>
            </h1>

            <p id="description">
                @Model.ShortSummary
            </p>

            @if (!string.IsNullOrEmpty(Model.Comment))
            {
                <div class="comment">
                    <h2>Further information:</h2>
                    <entities>
                        @Html.Raw(@Model.Comment)
                    </entities>
                </div>
            }

            <h2 class="visually-hidden">Source:</h2>
            <p class="source">@Model.Source.Title</p>

            @if (!string.IsNullOrEmpty(Model.ResourceLinks))
            {
                <h2>Resource links:</h2>
                <entities>
                    @Html.Raw(Model.ResourceLinks)
                </entities>
            }
        </article>
    </main>
    <footer>
        <p class="terms"><a href="https://www.sps.nhs.uk/terms-and-conditions/">Terms and conditions</a></p>
        <p class="feedback">
            Send feedback or enquiries about this service to:
            <a href="mailto:medicinesresources@gstt.nhs.uk">
                medicinesresources@gstt.nhs.uk
            </a>
        </p>
    </footer>
</body>
</html>
