@model MAS.Models.Item

<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
        @Model.Title
    </title>

    <meta name="description" content="@Model.ShortSummary." />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@("@nhs_sps")" />
    <meta name="twitter:title" content="@Model.Title" />

    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Medicines awareness service" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.medicinesresources.nhs.uk/en/Medicines-Awareness/Press-and-Media/Press-and-media/@Model.Slug/" />
    <meta property="og:title" content="@Model.Title" />
    <meta property="og:description" content="@Model.ShortSummary" />
    <meta property="og:image" content="https://www.medicinesresources.nhs.uk/open-graph.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Specialist Pharmacy Service logo" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700"
          rel="stylesheet"
          type="text/css" />
    <link href="/app.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <a href="https://www.sps.nhs.uk/" target="_blank" rel="noopener" aria-label="Sepcialist Pharmacy Service website">
            <img src="/sps-logo.svg"
                 alt="Sepcialist Pharmacy Service logo"
                 class="logo" />
        </a>
    </header>
    <main>
        <article aria-labelledby="title" aria-describedby="description">
            <h1 id="title">
                <a href="@Model.URL"
                   target="_blank" rel="noopener">
                    @Model.Title
                </a>
            </h1>

            <p id="description">
                @Model.ShortSummary
            </p>

            <div class="comment">
                <h2>SPS commentary:</h2>
                <p>
                    @Html.Raw(@Model.UKMiComment)
                </p>
            </div>

            <h2 class="visually-hidden">Source:</h2>
            <p class="source">@Model.Source.Title</p>

            @if (Model.ResourceLinks != null)
            {
                <h2>Resource links:</h2>
                <p>
                    @Html.Raw(Model.ResourceLinks)
                </p>
            }
            </article>
    </main>
    <footer>
        <p class="terms"><a href="/terms.html">Terms and conditions</a></p>
        <p class="feedback">
            Send feedback or enquiries about this service to:
            <a href="mailto:medicinesresources@gstt.nhs.uk">
                medicinesresources@gstt.nhs.uk
            </a>
        </p>
    </footer>
</body>
</html>
