@using MAS.Models;
@model List<Item>
@{
    ViewData["Title"] = "DailyEmail";
    //Layout = "~/Views/Shared/_EmailLayout.cshtml";

    var groupedItems = Model.GroupBy(x => x.EvidenceType.Title).ToList();
    var specialitiesList = Model.SelectMany(x => x.Specialities).Select(x => x.Title).ToList();
    var specialitiesAsString = String.Join(',', specs);
}


<table class="row article-border article-mec">
    <tbody>
        <tr>
            <th class="small-12 large-12 columns first last">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                <p>
                                    *|INTERESTED:Daily specialities of interest:@specialitiesAsString|*
                                    Articles that match your chosen specialities today
                                    *|ELSE|*
                                    No articles match your chosen specialities today
                                    *|END:INTERESTED|*
                                    - <a href="#abc">Edit your subscription</a>
                                </p>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </tbody>
                </table>
            </th>
        </tr>
    </tbody>
</table>


@foreach (var group in groupedItems)
{
    var evidenceType = group.Key;

    @:*|INTERESTED:Daily specialities of interest:specialitiesAsString|*
    <table class="spacer-heading">
        <tbody>
            <tr>
                <td height="16px" style="font-size:16px;line-height:16px;">
                    <h3 class="article-heading">evidenceType</h3>
                </td>
            </tr>
        </tbody>
    </table>

    @foreach (var item in group)
    {
        @:*|INTERESTED:Daily specialities of interest:specialitiesAsString|*
        <table class="row article-border">
            <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tbody>
                                <tr>
                                    <th>
                                        <h4 class="h4 article-title"><a class="article-link" href="#">@item.Title</a></h4>
                                        <p class="article-description">@item.ShortSummary</p>
                                        <p class="article-description"><a class="article-link-subtle standard-link" href="https://www.medicinesresources.nhs.uk/@item.Slug">Read SPS commentary</a></p>
                                        <p class="article-tags">
                                            <span class="source-tag">@item.Source.Title</span>
                                            @foreach (var spec in item.Specialities)
                                            {
                                                <span class="specialism-tag">@spec.Title</span>
                                            }
                                        </p>
                                    </th>
                                    <th class="expander"></th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
            </tbody>
        </table>
        @:*|END:INTERESTED|*
    }
    @:*|END:INTERESTED|*
}

*|INTERESTED:Send me everything from the Medicines Awareness Daily service:Send me everything|*
    <table class="row article-border article-mec">
        <tbody>
            <tr>
                <th class="small-12 large-12 columns first last">
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    <p>
                                        All articles from Medicines awareness services: Daily edition
                                    </p>
                                </th>
                                <th class="expander"></th>
                            </tr>
                        </tbody>
                    </table>
                </th>
            </tr>
        </tbody>
    </table>

    @foreach (var group in groupedItems)
    {
        var evidenceType = group.Key;

        <table class="spacer-heading">
            <tbody>
                <tr>
                    <td height="16px" style="font-size:16px;line-height:16px;">
                        <h3 class="article-heading">evidenceType</h3>
                    </td>
                </tr>
            </tbody>
        </table>

        @foreach (var item in group)
        {
            <table class="row article-border">
                <tbody>
                    <tr>
                        <th class="small-12 large-12 columns first last">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>
                                            <h4 class="h4 article-title"><a class="article-link" href="#">@item.Title</a></h4>
                                            <p class="article-description">@item.ShortSummary</p>
                                            <p class="article-description"><a class="article-link-subtle standard-link" href="https://www.medicinesresources.nhs.uk/@item.Slug">Read SPS commentary</a></p>
                                            <p class="article-tags">
                                                <span class="source-tag">@item.Source.Title</span>
                                                @foreach (var spec in item.Specialities)
                                                {
                                                    <span class="specialism-tag">@spec.Title</span>
                                                }
                                            </p>
                                        </th>
                                        <th class="expander"></th>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                </tbody>
            </table>
        }
    }
*|END:INTERESTED|*

