@using MAS.Models;
@using MAS.Configuration;
@model Item
@inject AWSConfig awsConfig

<table class="row article-border">
    <tbody>
        <tr>
            <th>
            <div class="article-wrapper">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                <h3 class="article-title">
                                    @if (string.IsNullOrWhiteSpace(Model.Url))
                                    {
                                        <span class="article-link">
                                            @Model.Title
                                        </span>
                                    }
                                    else
                                    {
                                        <a class="article-link" href="@Model.Url">
                                            @Model.Title
                                        </a>
                                    }
                                </h3>
                                
                                <p class="article-description">
                                    @Model.ShortSummary
                                </p>

                                @if (!string.IsNullOrEmpty(Model.Comment))
                                {
                                    <p class="article-description">
                                        <a class="article-link-subtle standard-link" href="@(awsConfig.StaticURL)@(Model.Slug).html" aria-label="Read further information for @Model.Title">
                                            Further Information
                                        </a>
                                    </p>
                                }
                                <p class="source-tag-container">
                                    <span class="source-tag">Source: @Model.Source.Title</span>
                                </p>
                                
                                <p class="article-tags">
                                    @foreach (var spec in Model.Specialities)
                                    {
                                        <span class="specialism-tag">
                                            @spec.Title
                                        </span>
                                        <span>&nbsp;</span>
                                    }
                                </p>
                            </th>
                            <th class="expander"></th>
                        </tr>
                    </tbody>
                </table>
                </div>
            </th>
        </tr>
    </tbody>
</table>