@model MAS.Models.Weekly
@{
    var groupedItems = Model.Items.GroupBy(x => x.EvidenceType.Title).ToList();
}

<div>
    <!-- Add Medicines evidence summary -->
    @if (!string.IsNullOrEmpty(Model.CommentarySummary))
    {
        @await Html.PartialAsync("_Heading", "Medicines evidence commentary")

        <table class="row article-border article-mec">
            <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <h4 class="h4 article-title">@Model.CommentaryTitle</h4>
                                        <p class="article-description">@Html.Raw(Model.CommentarySummary)</p>
                                        <p class="article-description"><a class="article-link-subtle standard-link" href="#mec">Read full commentary</a></p><!-- TODO: fix link -->
                                        <p class="article-tags">
                                            <span class="source-tag-nice">NICE</span>
                                        </p>
                                    </td>
                                    <th class="expander"></th>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
            </tbody>
        </table>
    }

    <!-- Add Items -->
    @foreach (var group in groupedItems)
    {
        @await Html.PartialAsync("_Heading", group.Key)

        @foreach (var item in group)
        {
            @await Html.PartialAsync("_Item", item)
        }
    }

    <!-- Add Medicines evidence summary and commentary -->
    @if (!string.IsNullOrEmpty(Model.CommentaryTitle))
    {
        <a name="mec" />
        @await Html.PartialAsync("_Heading", "Medicines evidence commentary")

        <table class="row article-border article-mec">
            <tbody>
                <tr>
                    <th class="small-12 large-12 columns first last">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <h4 class="h4 article-title">@Model.CommentaryTitle</h4>
                                        <p class="article-description">@Html.Raw(Model.CommentarySummary)</p>
                                        <p class="article-description">@Html.Raw(Model.CommentaryBody)</p>
                                    </td>
                                    <td class="expander"></td>
                                </tr>
                            </tbody>
                        </table>
                    </th>
                </tr>
            </tbody>
        </table>
    }
</div>
