@model MAS.Models.Weekly
@using MAS.Configuration;
@inject MailConfig mailConfig
@{
    var groupedItems = Model.Items.GroupBy(x => x.EvidenceType.BroaderTitle)
        .OrderBy(d => Array.IndexOf(mailConfig.EvidenceTypesOrdering, d.Key))
        .ToList();
}

<div>
    @if (!string.IsNullOrEmpty(Model.CommentarySummary))
    {
        @await Html.PartialAsync("_Heading", "Medicines evidence commentary")

        <table class="row article-border article-mec">
            <tbody>
                <tr>
                    <th>
                        <div class="article-wrapper">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3 class="article-title">@Model.CommentaryTitle</h3>
                                            <div class="article-description">@Html.Raw(Model.CommentarySummary)</div>
                                            <p class="article-description"><a class="article-link-subtle standard-link" href="#mec">Read full commentary</a></p>
                                            <p class="article-tags">
                                                <span class="source-tag-nice">NICE</span>
                                            </p>
                                        </td>
                                        <td class="expander"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    }

    @foreach (var group in groupedItems)
    {
        @await Html.PartialAsync("_Heading", group.Key)

        @foreach (var item in group)
        {
            @await Html.PartialAsync("_Item", item)
        }
    }

    @if (!string.IsNullOrEmpty(Model.CommentaryTitle))
    {
        <a id="mec" name="mec"></a>
        @await Html.PartialAsync("_Heading", "Medicines evidence commentary")

        <table class="row article-border article-mec">
            <tbody>
                <tr>
                    <th>
                        <div class="article-wrapper">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3 class="article-title">@Model.CommentaryTitle</h3>
                                            <div class="article-description">@Html.Raw(Model.CommentarySummary)</div>
                                            <div class="article-description">@Html.Raw(Model.CommentaryBody)</div>
                                        </td>
                                        <td class="expander"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    }
</div>
